/* style2.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 10px 20px;
    color: white;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    position: relative;
}

    .nav a:hover {
        text-decoration: underline;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

    .gallery img {
        width: 200px; /* Default size */
        height: 200px; /* Default size */
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s; /* Smooth transition effect */
    }

        .gallery img:hover {
            transform: scale(2); /* Increase size on hover */
        }

.biobox-link::after {
    content: url('BioBox/image4.jpg'); /* Replace with the correct image path */
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 200px; /* Adjust as needed */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.biobox-link:hover::after {
    display: block;
}
